
<!-- 右侧面板 -->
<div class="panel panel-default">
    <div class="panel-heading">登录记录</div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>用户名</th>
                    <th>时间</th>
                    <th>IP</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="#">小强</a>
                    <span class="label label-primary">信</span>
                </td>
                <td>2017-02-28</td>
                <td>115.239.211.112(成都)</td>     
            </tr>
            </tbody>
        </table>
    </div>
</div>