<link rel="stylesheet" href="/dist/css/personal/personal.min.css">
<!-- 右侧面板 -->
<div class="panel panel-default">
    <div class="panel-body">
        <div class="py-account-info">
            <div class="avatar">
                <img src="/dist/images/p-avatar.png" class="img-thumbnail" alt="">
            </div>
            <div class="py-text">
                <p>昵称：<span id='py-personal-nickname'>--</span></p>
                <p>用户名：<span id='py-personal-username'>--</span></p>
                <p>最近登录时间：<span id='py-personal-lastlogintime'>--</span></p>
            </div>
        </div>
        <ul class="py-asset">
            <li>总金额：<span class="text-primary" id='py-personal-totalmoney'>0</span>元</li>
            <li>可用金额：<span class="text-primary" id='py-personal-usablemoney'>0</span>元</li>
            <li>冻结金额：<span class="text-primary" id='py-personal-blockmoney'>0</span>元</li>
        </ul>
        <div class="py-btn">
            <a href="#/recharge" class="btn btn-primary btn-lg active" role="button">账户充值</a>
            <a href="#/moneyWithdraw_apply" class="btn btn-danger btn-lg active" role="button">账户提现</a>
   <!--          <button type="button" class="btn btn-primary btn-lg">账户充值</button>
            <button type="button" class="btn btn-danger btn-lg">账户提现</button> -->
        </div>
        <div class="row py-iconGroup">
            <div class="col-md-4">
                <div class="py-top">
                    <img src="/dist/images/shiming.png" alt="">
                    <div class="py-text">
                        <h5>实名认证</h5>
                        <p>未认证<a href="#">马上认证</a></p>
                    </div>
                </div>
                <p>实名认证之后才能在平台投资</p>
            </div>
            <div class="col-md-4">
                <div class="py-top">
                    <img src="/dist/images/youxiang.jpg" alt="">
                    <div class="py-text">
                        <h5>邮箱认证</h5>
                        <p>已认证<a href="#">查看</a></p>
                    </div>
                </div>
                <p>您可以设置邮箱来接收重要信息</p>
            </div>
            <div class="col-md-4">
                <div class="py-top">
                    <img src="/dist/images/shouji.jpg" alt="">
                    <div class="py-text">
                        <h5>手机认证</h5>
                        <p>已认证<a href="#">查看</a></p>
                    </div>
                </div>
                <p>可以收到系统操作信息,并增加使用安全性</p>
            </div>
            <div class="col-md-4">
                <div class="py-top">
                    <img src="/dist/images/baozhan.jpg" alt="">
                    <div class="py-text">
                        <h5>VIP会员</h5>
                        <p>普通用户<a href="#">查看</a></p>
                    </div>
                </div>
                <p>VIP会员，让你更快捷的投资</p>
            </div>
        </div>
    </div>
</div>

<script src="/dist/js/personalCenter.min.js"></script>