<link rel="stylesheet" href="./dist/css/borrow_apply_y.min.css">
    <!-- 信用借款 -->
    <div class="container">
        <div class="py-credit">
            <h3>信用借款</h3>
            <p>
                <span class="text-info">授信额度：</span>
                <span class="text-danger">2000</span>&emsp;&emsp;&emsp;
                <span class="text-info">可借金额：</span>
                <span class="text-danger">2000</span>
            </p>

        </div>
        <!-- 借款信息 -->
        <div class="py-msg">
            借款信息
            <label class="label label-primary">信用标</label>
        </div>
        <form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-3 control-label">
						借款金额
					</label>
					<div class="col-sm-3  input-group">
						<input class="form-control" name="amount" />
						<span class="input-group-addon">元</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">
						借款利息
					</label>
					<div class="col-sm-3  input-group">
						<input class="form-control" name="interest" />
						<span class="input-group-addon">%</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">
						借款期限
					</label>
					<div class="col-sm-3 input-group">
						<select class="form-control" name="deadline">
							<option value="1">1</option>
							<option value="3">3</option>
							<option value="6">6</option>
							<option value="9">9</option>
							<option value="12">12</option>
							<option value="24">24</option>
						</select>
						<span class="input-group-addon">月</span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">
						还款方式
					</label>
					<label class="radio-inline">
						<input type="radio" value="0" checked="checked" name="aa"/>
						按月分期
					</label>
					<label class="radio-inline">
						<input type="radio" value="1" name="aa"/>
						按月到期
					</label>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">
						最小投标
					</label>
					<div class="col-sm-3  input-group">
						<input class="form-control" name="minbid" />
						<span class="input-group-addon">元</span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">
						投标奖金
					</label>
					<div class="col-sm-3  input-group">
						<input class="form-control" name="" value="0" />
						<span class="input-group-addon">%</span>
					</div>
				</div>
			
				<div class="form-group">
					<label class="col-sm-3 control-label">
						招标天数
					</label>
					<div class="col-sm-3 input-group">
						<select class="form-control" name="day">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
						</select>
						<span class="input-group-addon">天</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">
						借款标题
					</label>
					<div class="col-sm-6 input-group">
						<input name="title" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">
						借款描述
					</label>
					<div class="col-sm-6  input-group">
						<textarea name="description" rows="4" class="form-control" style="resize: none;"></textarea>
					</div>
				</div>
				<div class="form-group">
					<button class="btn btn-primary col-lg-offset-3" type="submit" data-loading-text="提交">
						提交申请
					</button>
                </div>
                <!-- 相关费用 -->
                <div class="py-correlation">
                    <h4>相关费用</h4>
                    <p>
                        <span class="text-info">利息 </span>
                        <span>- -</span>
                    </p>
                    <p>
                        <span class="text-info">奖金 </span>
                        <span>- -</span>
                    </p>
                    <p>
                        <span class="text-info">管理费 </span>
                        <span>- -</span>
                    </p>
                    
                </div>

			</form>
	</div>
	
	<script src="/dist/js/borrow.min.js"></script>
